pandas
numpy<2.0.0
scikit-learn
scipy
matplotlib
seaborn
jupyter
joblib
loguru
pyyaml
tqdm
pretty-midi
numba
torch
torchaudio
torchvision
torchmetrics
mlflow
tenacity
lime
tensorly
plotly
scikit-image
music21
captum
statsmodels
cmcrameri